.navigation {
  height: 80px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.title-container {
  width: 230px;
  height: 100%;
  text-align: center;
}

.title-container h3 {
  padding-top: 27px;
}
